<ion-content class="no-scroll">
  <div class="container">
    <div class="logo">
      <img src="../../assets/imgs/ColorLogo-1.png" alt="">
    </div>
    <div class="form">
        <h1>Login</h1>
      <div>

          <form  [formGroup]="loginForm" class="login">

          <div class="input">
            <p>Email</p>
            <input type="email" formControlName="email" [(ngModel)]="user.email"> 
          </div>

          
        <div class="error" *ngFor="let validate of validation_messages.email">
            <div class="messages" *ngIf="loginForm.get('email').hasError(validate.type) && (loginForm.get('email').dirty || loginForm.get('email').touched)">
              {{validate.message}}
            </div>
          </div>



          <div class="input">
              <p>Password</p>
              <input type="email" type="password" formControlName="password" [(ngModel)]="user.password">
            </div>

            <div class="error" *ngFor="let validate of validation_messages.password">
                <div class="messages" *ngIf="loginForm.get('password').hasError(validate.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
                  {{validate.message}}
                </div>
              </div>

         

            <div class="forgot">
                <button (click)="Reg()">Create Account</button>
            </div>
<br>
            <div class="forgot">
              <button (click)="forget()">forget password</button>
          </div>
            <div class="button">
              <button (click) ="login(user)">Login</button>
            </div>

          </form>
      </div>
    </div>
    <div class="footer-background">

    </div>
  </div>
</ion-content>
