@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
page-login {
    .container {
        display: flex;
        flex-direction: column;
        .logo {
            text-align: center;
            img {
                height: 200px;
                width: 200px;

            }
        }
        .wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: #4C0A0A;
            border-radius: 10%;
            .login{
                font-family: 'Montserrat', sans-serif;
                margin-top: 10%;
                h5 {
                    color: white;
                    font-size: 40px;
                }
            }
            .email {
                margin-top: 10%;
                p {
                    color: black;
                    position: relative;
                    background: white;
                    width: 15%;
                    font-size: 10px;
                    border-radius: 20px;
                }
                input {
                    position: relative;
                    width: 100%;
                    height: 50px;
                    border-radius: 20px;
                    background: transparent;
                    border: 1px solid grey;
                    color: white;
                    text-align: center;
                    font-size: 20px;
                }
            }
            .pass{
                margin-top: 10%;
                margin-bottom: 20%;
                p {
                    position: relative;
                    color: black;
                    position: relative;
                    background: white;
                    width: 25%;
                    font-size: 10px;
                    border-radius: 20px;
                }
                input {
                    position: relative;
                    width: 100%;
                    height: 50px;
                    border-radius: 20px;
                    background: transparent;
                    border: 1px solid grey;
                    color: white;
                    text-align: center;
                    font-size: 20px;
                }
            }
        }
    }
}
