<ion-content class="no-scroll">
  <div class="container">
    <div class="logo">
      <img src="../../assets/imgs/ColorLogo-02.png" alt="">
    </div>
    <div class="form">
      <h1>SIGNUP</h1>
      <div>

        <form  [formGroup]="loginForm" class="login">

        <div class="input">
          <p>Email</p>
          <input type="email" formControlName="email" [(ngModel)]="email"> 
        </div>

        <div class="error" *ngFor="let validate of validation_messages.email">
          <div class="messages" *ngIf="loginForm.get('email').hasError(validate.type) && (loginForm.get('email').dirty || loginForm.get('email').touched)">
            {{validate.message}}
          </div>
        </div>

        
        <div class="input">
          <p>Password</p>
          <input type="password" type="password" formControlName="password" [(ngModel)]="password">
        </div>

        <div class="error" *ngFor="let validate of validation_messages.password">
          <div class="messages" *ngIf="loginForm.get('password').hasError(validate.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
            {{validate.message}}
          </div>
        </div>

        <div class="inputReg">
            <p>Repeat Password</p>
            <input type="password" formControlName="RepeatedPassword" [(ngModel)]="RepeatedPassword">
          </div>


          <div class="error">
              <div class="messages" *ngIf="value">
                <p>Passwords do not match!</p>
              </div>
            </div>

        </form>


        <div (click)="goToLogin()" class="forgot">
          <button>Already have an account?</button>
        </div>

        <div class="button">
          <button (click)="goToLanding()">Register</button>
        </div>

      </div>
    </div>
    <div class="footer-background">

    </div>
  </div>
</ion-content>