page-tabs {
  .tabbar  {
    // border-radius: 50% 50% 0px 0px;
    background: linear-gradient(rgb(255, 123, 0),#ffbb00) !important;
    position: fixed !important;
    z-index: 12 !important;
    padding: 5px 5px;
    box-shadow: inset 0px 2px 8px #171717 !important;
    height: 30px !important;
    .tab-button {
      background: linear-gradient(#2A324B,#171717);
      transform: translateY(-15px) !important;
      border-radius: 200px;
      transform: scale(.9);
      transition: 0.3s;
      margin: 2px;
      box-shadow: 0px 3px 3px #17171760;
      overflow: hidden !important;
      width: 5vw !important;
      height: 5vw !important;
      border-top: solid 1px rgb(0, 0, 0);
      .tab-button-icon {
        transition: 0.3s;
        transform: translateY(5px) !important;
        color: white !important;
      }
      .tab-button-text {
        transition: 0.3s;
        transform: translateY(22px) !important;
        color: white !important;
      }
    }
    .tab-button:hover {
      transition: 0.3s;
      background: linear-gradient(#2A324B,#171717);
      transform: translateY(-10px);
      border-radius: 200px;
      transform: scale(1.1);
      opacity: 1;
      // .icon .icon-ios .ion-ios-help-outlin
      .tab-button-icon {
        transition: 0.3s;
        transform: translateY(0px) !important;
        color: white !important;
      }
      .tab-button-text {
        transition: 0.3s;
        transform: translateY(-5px) !important;
        color: white !important;
      }
    }
  }
  .show-tabbar {
    box-shadow: none !important;
    border: none !important;
    background-image: none;
  }
  .tabbar::before {
    box-shadow: none !important;
    border: none !important;
    background-image: none !important;
    background-color: none !important;
  }

}
