page-home {

  .noschools {
    text-align: center;
    opacity: 0.5;
  }
  .searchbar-input {
    // background: linear-gradient(-10deg, rgb(250, 182, 43),rgb(247, 169, 168)) !important;
    border-radius: 0px !important;
    // color: white !important;
    // box-shadow: none !important;
  }
  .searchbar  {
    padding: 0 !important;
  }
  .select {
    margin: 0 !important;
    max-width: 100% !important;
    background: none !important;
    border: solid 1px rgb(24, 32, 43);
    border-radius: 0px 0px 20px 20px;
  }
  .select .select-md .ng-untouched .ng-pristine .ng-valid {
    margin: 0 !important;
  }
  * {
    // transition: 0.4s;
  }
  .viewImage {
    transition: 0.4s;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 30;
    display: grid;
    text-align: center;
    align-content: center;
    background: rgba(0, 0, 0, 0.692);
    .close {
      position: absolute;
      top: 10px;
      right: 10px;
      background: white;
      width: 40px;
      height: 40px;
      display: grid;
      border-radius: 100px;
      align-content: center;
      p {
        font-size: 13px;
        margin: 0;
        padding: 0;
      }
    }
    img {
      margin: auto;
      width: 90%;
      border-radius: 10px;
    }
  }
  .loader {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 5;
    background: rgb(255, 255, 255);
    overflow: hidden;
    .maploader {
      width: 50px;
      height: 50px;
      margin: 40vh auto;
      text-align: center;
      animation: maploader 100 infinite;
      background: red;
      border-radius: 200px;
      display: grid;
      align-content: center;
    }
  }

  .pac-card {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 17;
    transform: translateY(0vw);
    transition: 0.3s;
  }
  .pac-card-hide {
    transition: 0.3s;
    transform: translateY(-30vw);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 17;
  }
  .search {
    color: rgb(255, 148, 49);
  }
  .listinactive {
    transition: 0.4s;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 85vh;
    z-index: 15;
    // background: white;
    overflow: hidden;
    .toggler {
      width: 50%;
      margin: auto;
      height: 30px;
      text-align: center;
      background: rgb(250, 182, 43);
      box-shadow: 0px 1px 3px #1717173d;
      padding: 3% 0%;
      border-radius: 20px 20px 0px 0px;
    }
    .s-list{
      display: none;
      width: 100%;
      height: 95%;
      background: rgb(238, 238, 238);
      overflow-y: auto;
      .card {
        width: 95%;
        height: 100px;
        margin: 10px auto;
        background: linear-gradient(rgb(255, 255, 255), rgb(254, 254, 254), rgb(240, 240, 240),rgb(238, 238, 238));
        display: flex;
        border-radius: 10px;
        box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.086);
        .image{
          border-radius: 10px;
          overflow: hidden;
          max-width: 30%;
          min-width: 30%;
          height: 100%;
          background: rgb(255, 140, 140);
          img{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .details {
          padding: 0px 10px;
        }
      }
    }
  }
  .list {
    transition: 0.4s;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 10vh;
    z-index: 5;
    // background: rgb(255, 255, 255);
    overflow: hidden;
    .toggler {
      width: 50%;
      margin: auto;
      height: 30px;
      text-align: center;
      background: rgb(182, 70, 95);
      box-shadow: 0px 1px 3px #1717173d;
      color: white;
      padding: 3% 0%;
      border-radius: 20px 20px 0px 0px;
    }
    .s-list{
      display: block;
      width: 100%;
      height: 95%;
      background: rgb(238, 238, 238);
      overflow-y: auto;
      .card {
        width: 95%;
        height: 100px;
        margin: 25px auto;
       color: white;
        background: url(../../assets/icon/schoollistbg.svg),linear-gradient(10deg, rgb(42, 50, 75),rgb(182, 70, 95));
        background-attachment: fixed;
        background-repeat: repeat-y;
        background-position: 100% 0;
        display: flex;
        border-radius: 10px;
        box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.086);
        position: relative;
        .call {
          position: absolute;
          bottom: -28%;
          right: 5px;
        }
        .request{
          position: absolute;
          bottom: -18%;
          right: 60px;
        }
        .image{
          border-radius: 10px;
          overflow: hidden;
          max-width: 30%;
          min-width: 30%;
          height: 100%;
          // background: red;
          padding: 0 !important;
          img{
            width: 100% !important;
            height: 100% !important;
            object-fit: cover;
            margin: 0;
          }
        }
        .details {
          padding: 0px 10px;
        }
      }
    }
  }
    .container{
        display: flex;
        flex-direction: column;
        height: 0;
        overflow: hidden !important;
    }
    .scroll {
        height: 100%
      }

      #map {
        width: 100%;
        height: 91%;
        position: relative;
        overflow: hidden;

      }
      .aboutschool {
        transition: 0.3s;
        width: 100%;
        height: 100%;
        top:  0;
        left: 0;
        bottom: 0;
        right: 0;
        background: white;
        position: absolute;
        z-index: 17;
        overflow: hidden;
        .information {
          width: 100%;
          height: 50%;
          overflow: hidden;
          background: rgb(250, 182, 43);
          border-radius: 0px 0px 50px 50px;
          text-align: center;
          overflow-y: auto;
          .s-image {
            width: 100%;
            border-radius: 0px 0px 50px 50px;
            height: 50%;
            overflow: hidden;
            position: relative;
            .a-back {
              transition: 0.5s;
              top: 10px;
              left: 10px;
              position: fixed;
              transform: scale(1);
            }
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          h1 {
            font-size: 5vw;
            margin: 5px;
          }
          p {
            font-size: 3vw;
            padding: 0px 30px;
          }
        }
        .lesson-cont {
          width: 100%;
          height: 50%;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          overflow-y: auto;
          .lessons {
            width: 40vw;
            box-shadow: 0px 0px 8px rgba(23, 23, 23, 0.205);
            margin: 5px;
            border-radius: 10px;
            text-align: center;
            padding: 5px;
            background: url(../../assets/icon/package-background.svg),linear-gradient(45deg, rgba(255, 255, 255, 0.616),rgb(250, 182, 43));
            position: relative;
            // background-attachment: fixed;
            background-repeat: no-repeat;
            background-position: 50% 0%;
            background-size: cover;
            display: grid;
            align-content: center;
            p {
              font-size: 3vw;
              pointer-events: none;
            }
            button {
              position: absolute;
              bottom: 0;
              right: 0%;
              text-shadow: 0px 2px 2px rgba(23, 23, 23, 0.31);
              box-shadow: 0px 2px 2px rgba(23, 23, 23, 0.075);
              text-transform: uppercase;
              letter-spacing: 3px;
              color:rgb(36, 36, 36);
              border-radius: 30px;
              margin: 0;
              padding: 3vw;
              background: linear-gradient(rgb(226, 226, 226), rgb(255, 255, 255));
              width: 100%;
              font-size: 2vw;
            }
          }
          .custom {
            width: 100%;
            position: relative;
            margin: 5vw;
            display: flex;
            // background: red;
            .r-bbutton {
              width: 50%;
              display: grid;
              align-content: center;
              justify-content: center;
              button {
              // position: absolute !important;
              width: 90% !important;
              text-shadow: 0px 2px 2px rgba(23, 23, 23, 0.31);
              box-shadow: 0px 2px 2px rgba(23, 23, 23, 0.31);
              text-transform: uppercase;
              letter-spacing: 3px;
              color:#171717;
              border-radius: 30px;
              padding: 15px;
              background: linear-gradient(rgb(255, 255, 255), rgb(209, 209, 209));
              width: 40%;
              font-size: 50%;
            }
            }

            .input{
              text-align: center;
              width: 50%;
              position: relative;
              // margin: 20px 0px;
              display: grid;
              align-content: center;
              p{
                font-size: 80%;
                background: linear-gradient(rgb(118, 123, 145), rgb(42, 50, 75));
                color: rgb(255, 255, 255);
                width: 100%;
                padding: 2px;
                border-radius: 20px 20px 0px 0px;
                // position: absolute;
                top: -9px;
                left: 9vw;
                margin: 0;
              }
              input{
                width: 100%;
                height: 9.5vw;
                padding: 15px 10px;
                border: none;
                border: solid 1px rgb(42, 50, 75);
                background: none;
                color: rgb(42, 50, 75);
                border-radius:0px 0px 20px 20px;
              }
            }
          }
        }
      }
      .aboutschool-inactive {
        transition: 0.5s;
        width: 100%;
        height: 0%;
        top:  0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgb(255, 255, 255);
        position: absolute;
        z-index: 17;
        overflow: hidden;
        .information {
          width: 100%;
          height: 50%;
          overflow: hidden;
          background: rgb(250, 182, 43);
          border-radius: 0px 0px 50px 50px;
          text-align: center;
          overflow-y: auto;
          .s-image {
            width: 100%;
            border-radius: 0px 0px 50px 50px;
            height: 50%;
            overflow: hidden;
            .a-back {
              top: 10px;
              left: 10px;
              position: fixed;
              transform: scale(0);
              transition: 0.5s;
            }
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          h1 {
            font-size: 5vw;
            margin: 5px;
          }
          p {
            font-size: 3vw;
            padding: 0px 30px;
          }
        }
        .lesson-cont {
          width: 100%;
          height: 50%;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          overflow-y: auto;
          .lessons {
            width: 40vw;
            box-shadow: 0px 0px 8px rgba(23, 23, 23, 0.129);
            margin: 5px;
            border-radius: 10px;
            text-align: center;
            padding: 5px;
            background: rgb(252, 252, 252);
            position: relative;
            display: grid;
            align-content: center;
            p {
              font-size: 3vw;
            }
            button {
              position: absolute;
              bottom: 0;
              right: 0%;
              text-shadow: 0px 2px 2px rgba(23, 23, 23, 0.31);
              box-shadow: 0px 2px 2px rgba(23, 23, 23, 0.075);
              text-transform: uppercase;
              letter-spacing: 3px;
              color:rgb(36, 36, 36);
              border-radius: 30px;
              margin: 0;
              padding: 5px;
              background: linear-gradient(rgb(226, 226, 226), rgb(255, 255, 255));
              width: 100%;
              font-size: 2vw;
            }
          }
          .custom {
            width: 100%;
            position: relative;
            margin: 5vw;
            display: flex;
            // background: red;
            .r-bbutton {
              width: 50%;
              display: grid;
              align-content: center;
              justify-content: center;
              button {
              // position: absolute !important;
              width: 90% !important;
              text-shadow: 0px 2px 2px rgba(23, 23, 23, 0.31);
              box-shadow: 0px 2px 2px rgba(23, 23, 23, 0.31);
              text-transform: uppercase;
              letter-spacing: 3px;
              color:#171717;
              border-radius: 30px;
              padding: 15px;
              background: linear-gradient(rgb(255, 255, 255), rgb(209, 209, 209));
              width: 40%;
              font-size: 50%;
            }
            }

            .input{
              text-align: center;
              width: 50%;
              position: relative;
              // margin: 20px 0px;
              display: grid;
              align-content: center;
              p{
                font-size: 80%;
                background: linear-gradient(rgb(118, 123, 145), rgb(42, 50, 75));
                color: rgb(255, 255, 255);
                width: 100%;
                padding: 2px;
                border-radius: 20px 20px 0px 0px;
                // position: absolute;
                top: -9px;
                left: 9vw;
                margin: 0;
              }
              input{
                width: 100%;
                height: 9.5vw;
                padding: 15px 10px;
                border: none;
                border: solid 1px rgb(42, 50, 75);
                background: none;
                color: rgb(42, 50, 75);
                border-radius:0px 0px 20px 20px;
              }
            }
          }
        }
      }
      @keyframes maploader {
        0% {
          transform: rotate(0deg);
          background: red;
        }
        100% {
          background: blue;
          transform: rotate(360deg);
        }
      }
}
