<ion-content>
    <div class="container">
            <div class="title">
                <h1>{{title}}</h1>
              </div>
              <div class="results">
                <p>{{results}}%</p>
              </div>
              <div class="text">
                <p> {{text}} </p>
              </div>
              <div class="button">
                  <button class="btn" (click)="home()" *ngIf="pass==true">finnish</button>
                  <button class="btn white" (click)="quiz()" *ngIf="pass==false">Try agin</button>
                  <button class="btn" (click)="home()" *ngIf="pass==false">Next Time</button>
              </div>
        </div>
</ion-content>
